.section2 {
    background: linear-gradient(329deg, #0da4a2, #000000);
    background-size: 400% 400%;

    -webkit-animation: bgSec2 4s ease infinite;
    -moz-animation: bgSec2 4s ease infinite;
    animation: bgSec2 4s ease infinite;
    padding: 70px 0;

    .sec2infos {
        margin-bottom: 50px;
    }
}

@-webkit-keyframes bgSec2 {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}