@import "../../css/variables.scss";

.section1 {
    position: relative;
    min-height: 200px;
    width: 100%;
    background-color: $colorGreen;
    z-index: 1;
    .sec1 {
        padding-top: 70px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgSec1 {
        margin-bottom: 20px;
        max-width: 100px;
        img {
            width: 100%;
        }
    }

    .infoSec1 {
        p {
            color: $colorWhite;
        }
    }
}