@import "../../css/variables";

.header {
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 30%, rgba(13,164,162,1) 100%);  
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;     

    .infos {
        max-width: 500px;
        width: 100%;
        padding-bottom: 50px;
        
        img {
            margin-bottom: 15px;
            width: 100px;
        }
        
        h2 {
            color: $colorWhite;
            font-size: 1.8rem;
            line-height: 1.8rem;
            margin-bottom: 20px;
            text-transform: uppercase;
            span {
                background: #000000;
                background: linear-gradient(to right, #000000 0%, #000475 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            font-size: 1.3rem;
            line-height: 1.3rem;
            color: $colorWhite;
            margin-bottom: 20px;
        }
        
    }

    .btnBanner {
        display: flex;
        gap: 20px;

        .btn {
            padding: 10px 30px;
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 30px;
            border: 5px solid;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }

        .btnMore {
            color: $colorGreen;
        }

        .btnContact {
            color: $colorGreen;
            background-color: transparent;
        }
    }

    .imageBanner {
        min-width: 500px;
        max-width: 700px;
        padding: 0 30px;
        img {
            width: 100%;
            position: relative;
            bottom: -6px;
        }
    }
}