@import "../../css/variables";

.header {
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 30%, rgba(13,164,162,1) 100%);  
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;     

    .infos {
        max-width: 600px;
        width: 100%;
        padding: 0 30px;
        padding-bottom: 50px;
        
        img {
            margin-bottom: 15px;
        }
        
        h2 {
            color: $colorWhite;
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin-bottom: 20px;
            text-transform: uppercase;
            span {
                background: #000000;
                background: linear-gradient(to right, #000000 0%, #000475 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $colorWhite;
        }
    }

    .imageBanner {
        min-width: 500px;
        max-width: 700px;
        padding: 0 30px;
        img {
            width: 100%;
        }
    }
}