@media (max-width: 1499.98px) {
    .more {
        .moreInfo {
            padding: 50px 0;
        }

        .moreImg {
            margin-top: -80px;
        }
    }
}

@media (max-width: 1198.98px) {
    // Header 
    .headerContent {
        .imageBanner {
            min-width: 400px;
            max-width: 600px;
            padding-top: 100px;
        }

        .infos {
            h2 {
                font-size: 1.6rem;
                line-height: 1.6rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }

            img {
                width: 100px;
            }
        }
    }

    // More 
    .more {
        margin-top: 100px;
        .moreImg {
            max-width: 500px;
            margin-top: -60px;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 999.98px) {
    .more {
        margin-top: 0;
        .moreImg {
            max-width: 400px;
            margin-top: 0px;
        }
    }
}

@media (max-width: 899.98px) {
    // Header 
    .headerContent {
        flex-direction: column;
        .imageBanner {
            min-width: 500px;
            padding-top: 0;
        }
    }

    // More 
    .more {
        .moreContent {
            flex-direction: column-reverse;
            gap: 0;
        }
    }
}

@media (max-width: 799.98px) {
    // Header 
    .headerContent {
        flex-wrap: wrap;
        padding-top: 0;

        .imageBanner {
            padding-top: 0;
        }
    }

    // Navbar
    .navBar {

        flex-direction: column;
        height: auto;

        .logos {
            margin-bottom: 40px;
            margin-top: 40px;
            width: 100%;
        }

        .closeMenu {
            display: none;
        }

        .ocMenu {
            display: block;
        }

        ul {
            flex-direction: column;
            gap: 5px;
            width: 100%;
            align-items: center;
            margin-bottom: 20px;

            li {
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: #085e5d49;
                width: 100%;
                margin-bottom: 5px;
                text-align: center;
                border-radius: 0;
            }
        }
    }
}

@media (max-width: 699.98px) {
    .sec2infos {
        .col {
            .row {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (max-width: 575.98px) {
    // Header 
    .headerContent {
        .imageBanner {
            min-width: 330px;
        }

        .infos {
            p {
                margin-bottom: 40px;
            }
        }
    }

    // Swiper 
    .areaSwiper {
        .swiper {
            width: 95%;
        }
    }
}

@media (max-width: 419.98px) {
    .btnBanner {
        flex-direction: column;
        align-items: center;
    }
}