@import "../../css/variables";

.sec2infos {
    text-align: center;
    h1 {
        text-shadow: 2px 2px #000000;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p, h1 {
        color: $colorWhite;
    }

    .col {
        padding: 5px 0;
    }

    .row {
        display: flex;
        gap: 30px;
        &:nth-child(1) {
            margin-bottom: 30px;
        }
    }

    .box {
        border-radius: 30px;
        padding: 30px 40px;
        p, h4 {
            text-shadow: 2px 2px #000000;
        }

        h4 {
            font-size: 1.8rem;
            color: $colorWhite;
            margin-bottom: 10px;
        }
    }

    .box1 {
        background: linear-gradient(171deg, rgba(13,164,162,1) 0%, rgba(19,255,252,1) 50%, rgba(13,169,167,1) 100%);
    }

    .box2 {
        background: linear-gradient(351deg, rgba(13,164,162,1) 0%, rgba(19,255,252,1) 50%, rgba(13,169,167,1) 100%);
    }

    .box3 {
        background: rgb(13,164,162);
        background: linear-gradient(274deg, rgba(13,164,162,1) 0%, rgba(19,255,252,1) 50%, rgba(13,169,167,1) 100%);
    }

    .box4 {
        background: linear-gradient(12deg, rgba(13,164,162,1) 0%, rgba(19,255,252,1) 50%, rgba(13,169,167,1) 100%);
    }
}