@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@import "../src/css/responsive";

