@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "../src/css/variables";

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: $colorGreen;
  
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }
}

.container {
  max-width: 80%;
  margin: auto;
}

@import "../src/css/responsive";

